.review{
    margin-top: 50px;
    padding: 50px 10rem;
}
.review-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
} 
.review-img h1{
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.gallery {
    display: flex;
    max-width: 1400px;
    margin: 50px auto;
    justify-content: space-between;
  }
.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 12.5%;
    max-width: 100%;
    gap: 50px;
}
.column .row{
    padding: 10px 30px 5px 30px;
    background: #FBFBFB;
    border-radius: 8px;
}
.column .row img {
    height: 2.5rem;
    display: block;
    margin: 0 auto;
}

.column .row p{
    margin-top: 14px;
    width: 70px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
 #row-1{
    padding: 10px 18px;
}
 #row{
    width: 100px;
}
.experience{
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
}
.experience h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #0C1930;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 50px auto;
}
.container-1{
    padding: 20px 50px;
    max-width: 339px;
    max-height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}
.container-1 img{
    float: left;
}
.container-1 h6{ 
    padding-top: 15px;
    text-align: left;
    padding-left: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #0C1930;
}
.container-1 p{
    clear: both;
    text-align: left;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 290px;
}
 
@media (max-width:768px){
    .review{
        text-align: center;
        padding: 2rem 4rem;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        margin-bottom: 3rem;
        gap: 30px;
    }
    .column{
        flex:25%;
    }
    .container{
        padding-left: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
    }
    .container-1{
        padding: 10px;
    }  
    .container-1 h6{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .container-1 p{
        font-size: 14px;
        margin-top: 30px;
    }
}

@media screen and (max-width:600px){
    .review{
        margin-top: 5rem;
        padding: 1rem;
    }
    .review-img img{
        max-width: 80%;
    }
    .review-img h1{
        font-size: 20px;
    }
    .gallery{
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
    .experience h1{
        font-size: 30px;
    }
    .container{
        padding: 0 1.5rem;
    }
    .container-1{
        padding: 10px;
       text-align: center;
    }
    .container-1 img{
        max-width: 30%;
    }
    .container-1 h6{
        font-size: 11px;
        padding-left: 0;
        padding-top: 10px;
    }
    .container-1 p{
        font-size: 10px;
        line-height: 16px;
        margin-top: 10px;
    }
    
}

