.service{
    padding:70px 11rem;
    background: linear-gradient(0deg, #FBFBFB 18.87%, rgba(255, 255, 255, 0.0001) 92.73%);
}
.service h1{
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #0C1930;
}
.service .sub-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 450px;
    display: inline-block;
}
.element{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4rem;
    gap: 100px;
}
.element .element__left{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0C1930;
    text-align: left;
    padding-top: 100px;
    max-width: 570px;
}
.element .element__right{
    box-shadow: 4px 4px 0px #0089E3;
    filter:drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 450px;
    max-height: 550px;
}
.element__right-header{
    background:#F8F8F6;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.element__right-header img{
    height: 2.5rem;
}
.element__right-header h1{
    display: block;
    margin: auto 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0C1930;
}
.element__right-body{
    background-color: white;
    padding: 10px 10px;
}
.element__right-body h2{
    text-align: center;
    clear: both;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0C1930;
    margin-bottom: 10px;
}
.element__right-body .table{
    padding:2rem;
    text-align: left;
}
.table td{
    padding: 10px 9px;
}
.table .bold{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0C1930;
}
.table .light{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #979797;
}
.element__right .live{
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #0C1930;
}
.element__right p{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #0C1930;
}

@media (max-width:768px){
    .service{
        padding: 2rem 3rem;
        align-items: center;
    }
    .element{
       display: flex;
       flex-direction: column;
    }
    .element .element__left{
        padding-top: 0;
        display: inline-block;
        margin: 0 auto;
    }
   .element__right{
    display: inline-block;
        margin: 0 auto;
   }

}

@media screen and (max-width:600px){
    .service {
        padding:1.2rem;
    }
    .service h1{
        font-size: 30px;
        line-height: 34px;
    }
    .service h6{
        font-size: 14px;
        line-height: 20px;
    }
    .element{
        margin-top: 0;
        gap: 20px;
    }
    .element .element__left{
        padding: 1rem;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .element__right-body{
        margin-top: 0;
        padding: 10px;
    }
    .element__right h2{
        font-size: 18px;
    }
    .element__right table{
        padding: 20px 0;
        text-align: left;
        border-spacing: 5px;
    }
    table .bold{
        font-size: 14px;
    }
    table .light{
        font-size: 12px;
    }
    .element__right h6{
        font-size: 14px;
        font-weight: medium;
        margin-bottom: 10px;
    }
    .element__right p{
        text-align: center;
        font-size: 14px;
    }
}

